h1{
	font-family: 'Pacifico', cursive;
}
li,.second{font-family: 'Exo 2', sans-serif;
}
.container
{
	
	margin: 100px 200px;
}
body
{
	background-color: #fefdfb;
}
.done{
text-decoration: line-through;
}